body {
  background-color: white;
  line-height: 1.6em;
  font-family: "Helvetica Neue", "Arial", "Source Sans Pro", "Dejavu Sans", sans-serif;
  font-size: 14px;
}

a {
  color: #1E50A2;
  text-decoration: none;
}

a:hover {
  color: #BA2636;
}

b,
strong,
h1,
h2,
h3,
h4,
h5 {
  color: #000;
  font-weight: 500;
  font-family: "Helvetica Neue", "Arial", "Dejavu Sans", sans-serif;
}