@font-face {
	  font-family: 'Marcellus SC';
	  font-style: normal;
	  font-weight: 400;
	  src: local('Marcellus SC'), local('MarcellusSC-Regular'), url('/fonts/MarcellusSC.woff') format('woff');
		}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url('/fonts/OpenSansLight.woff') format('woff');
}
