---
layout: main
title: Thoughts 
---


<div class="main">
<ul class="thoughts">
  {% for post in paginator.posts %}
  <li class="thought-item">
      <div class="bd">
		  <blockquote>{{ post.content }}</blockquote>
		  <div class="actions"> 
			  <span class="created_at">
				  <a href="{{ post.url }}"><time data-time="{{ post.date }}" title="{{ post.date }}">{{ post.date | date_to_string }}</time></a>
			  </span>
		  </div>
	  </div>
  </li>
  {% endfor %}
</ul>
</div>

{% include paginator.html %}

