---
layout: main
title: Thoughts 
---


<section class="content">
	<article>
		<div class="mark"></div>

		<ul class="thoughts">
			{% for post in paginator.posts %}
			<li class="thought-item">
				  <h2 class="thought-title">
						{{ post.title }}<br />
					</h2>
					<div class="bd">
						{{ post.excerpt }}
						<div class="actions">
						<span>
							<a href="{{ post.url }}"><time data-time="{{ post.date }}" title="{{ post.date }}">{{ post.date | date_to_string }}</time></a>
						</span>
						</div>
					</div>
			</li>
			{% endfor %}
		</ul>
		{% include paginator.html %}
	</article>
</section>
  


