<div class="paginator">

	{% if paginator.previous_page %}
		{% if paginator.previous_page ==1 %}
			<a href="/blog/">&lt;前页</a>
		{% else %}
			<a href="/blog/page{{ paginator.previous_page }}">&lt;前页</a>
		{% endif %}
	{% else %}
		<span class="disabled">&lt;前页</span>
	{% endif %}


	<div class="pagenum">
	{% if paginator.page == 1 %}
		<span class="current">1</span>
	{% else %}
		<a href="/blog/">1</a>
	{% endif %}

	{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
			<span class="current">{{ count }}</span>
		{% else %}
			<a href="/blog/page{{ count }}">{{ count }}</a>
		{% endif %}
	{% endfor %}
	</div>


	{% if paginator.next_page %}
	<a href="/blog/page{{ paginator.next_page }}">后页&gt;</a>
	{% else %}
	<span class="disabled">后页&gt;</span>
	{% endif %}

</div>


		
