<div class="paginator">

	{% if paginator.previous_page %}
		{% if paginator.previous_page ==1 %}
			<a href="/blog">&lt;PREV</a>
		{% else %}
			<a href="/blog/page/{{ paginator.previous_page }}">&lt;PREV</a>
		{% endif %}
	{% else %}
		<span class="disabled">&lt;PREV</span>
	{% endif %}


	<div class="pagenum">
	{% if paginator.page == 1 %}
		<span class="current">1</span>
	{% else %}
		<a href="/blog">1</a>
	{% endif %}

	{% for count in (2..paginator.total_pages) %}
		{% if count == paginator.page %}
			<span class="current">{{ count }}</span>
		{% else %}
			<a href="/blog/page/{{ count }}">{{ count }}</a>
		{% endif %}
	{% endfor %}
	</div>


	{% if paginator.next_page %}
	<a href="/blog/page/{{ paginator.next_page }}">NEXT&gt;</a>
	{% else %}
	<span class="disabled">NEXT&gt;</span>
	{% endif %}

</div>


		
