---
layout: main
title: Blog
---

<section class="content">
  <article>
    <div class="mark"></div>
    <header>
      <h1 class="post-title">BLOG</h1>
    </header>

    <ul class="post-listing">
      {% assign posts = site.posts | sort:"date" %}
      {% for post in posts %}
      <li><small class="author muted">{{ post.date | date_to_string }}</small>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </article>

  <!-- {% include paginator.html %} -->

</section>