<!DOCTYPE html>
<html>

<head>
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no'>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link href="/favicon.ico" rel="shortcut icon" type="image/x-icon">
	<link href="/css/global.css" rel="stylesheet" type="text/css">
	<link href="/css/style.css" rel="stylesheet" type="text/css">
	<link href="/css/syntax.css" rel="stylesheet" type="text/css">
	<link href="/css/responsive.css" rel="stylesheet" type="text/css">
	<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML'
		async></script>
	<script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {inlineMath: [['$','$']]}
      });
    </script>
	<title>Awei - {{ page.title }}</title>
</head>

<body>
	<div class="wrapper">

		{% include header.html %}

		{{ content }}

		{% include footer.html %}
	</div>
</body>

</html>